:root{
    --caixa-cor-frente: #9226a5;
    --caixa-cor-verso: #d782e3; 
    --fundo: #6f2ee7;
    --preto: black;
    --branco: white;
    --cor-texto--destaque: black;

}
   
body{
    background-color: var(--fundo);

}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
