:root{
    --caixa-cor-frente: #9226a5;
    --caixa-cor-verso: #d782e3; 
    --fundo: #d5b9d5;
    --preto: rgb(14, 14, 14);
    --branco: white;
    --cor-texto--destaque: black;

}
   
body{
    background-color: var(--fundo);

}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);

}


.cartao_conteudo{
    background-color: var(--caixa-cor-frente);
    text-align: center;
    /* color: var(--branco);*/
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao_conteudo h3{
    border: 1px solid var(--cor-texto--destaque);
    padding: 0.5rem;
    position: absolute;
    margin: 0.5rem;
}

.cartao_conteudo p {
    margin-top: 2rem;
    padding: 2rem;
    padding-top: 3rem;
}

.cartao_conteudo_resposta{
   background-color: var(--caixa-cor-verso);
    transform: rotateX('180deg');
    border: 1px solid var(--cor-texto--destaque);
}

.cartao.active .cartao_conteudo{
    transform: rotateX('180deg');
    
}

.cartao_conteudo_pergunta, .cartao_conteudo_resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
